[system]
debug=true
[engine]
frames-per-seconds=60
frames-limit=0
[display]
title=Bump
width=800
height=600
scale=0
fullscreen=false
effect=protanopia.glsl
effect=deuteranopia.glsl
effect=acromatopsia.glsl
effect=tritanopia.glsl
effect=scanline-fract.glsl
effect=scanlines-sine-abs.glsl
effect=zfast-crt.glsl
effect=crt-pi.glsl
[keyboard]
exit-key=true
