.vscode/
src/*.o
src/core/*.o
src/core/io/*.o
src/core/vm/*.o
src/core/vm/modules/*.inc
src/core/vm/modules/*.o
src/core/vm/modules/graphics/*.o
src/libs/*.o
src/libs/gl/*.o
external/glad/*.o
external/lua/*.o
external/spleen/*.o
external/stb/*.o
tofu