.vscode/
src/*.o
src/core/*.o
src/gl/*.o
src/modules/*.inc
src/modules/*.o
src/modules/graphics/*.o
external/glad/*.o
external/lua/*.o
external/jsmn/*.o
external/spleen/*.o
external/stb/*.o
external/wren/*.o
tofu