[system]
debug=true
[display]
title=.: Tofu Engine :.
width=480
height=320
scale=2
fullscreen=false
effect=assets/glsl/protanopia.glsl
effect=assets/glsl/deuteranopia.glsl
effect=assets/glsl/acromatopsia.glsl
effect=assets/glsl/tritanopia.glsl
effect=assets/glsl/scanlines-sine-abs.glsl
effect=assets/glsl/zfast-lcd.glsl
effect=assets/glsl/zfast-crt.glsl
effect=assets/glsl/dream-vision.glsl
effect=assets/glsl/scanline-fract.glsl
effect=assets/glsl/crt-pi.glsl
[engine]
frames-per-seconds=60
frames-limit=90
[keyboard]
exit-key=true
