[system]
debug=true
[display]
title=.: Tofu Engine :.
width=480
height=320
scale=2
fullscreen=false
effect=protanopia
effect=deuteranopia
effect=acromatopsia
effect=tritanopia
effect=scanline-fract
effect=scanlines-sine-abs
effect=zfast-crt
effect=crt-pi
[engine]
frames-limit=0
[keyboard]
exit-key=true
