[system]
debug=true
[display]
title=.: Tofu Engine :.
width=480
height=320
scale=2
fullscreen=false
effect=protanopia.glsl
effect=deuteranopia.glsl
effect=acromatopsia.glsl
effect=tritanopia.glsl
effect=scanline-fract.glsl
effect=scanlines-sine-abs.glsl
effect=zfast-crt.glsl
effect=crt-pi.glsl
[engine]
frames-limit=0
[keyboard]
exit-key=true
