[system]
debug=true
[engine]
frames-per-seconds=60
frames-limit=0
[display]
title=~ v o x e l ~
width=384
height=224
scale=2
fullscreen=false
[ignored]
effect=assets/glsl/protanopia.glsl
effect=assets/glsl/deuteranopia.glsl
effect=assets/glsl/acromatopsia.glsl
effect=assets/glsl/tritanopia.glsl
effect=assets/glsl/scanline-fract.glsl
effect=assets/glsl/scanlines-sine-abs.glsl
effect=assets/glsl/crt-pi.glsl
effect=assets/glsl/zfast-crt.glsl
[keyboard]
exit-key=true
